* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    /* height: 100vh; */
    font-size: 100%;
    /* background-color: #233; */
}

:root {
    --slider-bg-clr: #eee;
    --btn-bg-clr: #f43340;
    --svg-icons-clr: #333;
    --svg-icons-hover-bg: #ec2432;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#map {
    height: 50%;
    width: 50%;
    z-index: 0;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.search-box {
    z-index: 1;
    top: 0;
    right: 5rem;
    padding: 20px;
    position: relative;
}

.search-box input {
    height: 30px;
    border-radius: 50px;
    padding: 10px 30px 10px 20px;
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    color: #000;
    font-weight: bolder;
}

.search-box button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #233;
}


.max-width {
    max-width: 1300px;
    margin: 0 auto;
}


/* NAVBAR  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    height: 8%;
    left: 0;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

nav .logo {
    padding-left: 1rem;
    color: #f44336;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-weight: bolder;
}

nav .nav-links {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}

nav .nav-links a {
    text-decoration: none;
    color: #233;
}

nav .nav-links a:last-child{
    /* background-color: var(--btn-bg-clr); */
    padding: .3rem .8rem;
    border-radius: 10px;
    border: 1px solid var(--btn-bg-clr);
    transition: .5s;
    /* color: #eff; */
}
nav .nav-links a:last-child:hover {
    background-color: var(--svg-icons-hover-bg);
    color: white;
}


/* HERO SECTION  */
.hero-section {
    background-color: var(--slider-bg-clr);
    height: 65vh;
    margin-top: 3.8rem;
}

.slider {
    width: 100%;
    height: 100%;
    /* border-radius: 1rem; */
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    border-radius: 0 0 1rem 1rem;
}

.slides {
    width: 500%;
    height: 40rem;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    /* margin-top: -40px; */
    display: flex;
    justify-content: center;
    bottom: 2rem;
}

.manual-btn {
    border: 2px solid #eee;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s ease;
    margin-left: 4rem;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    /* margin-top: -40px; */
    display: flex;
    justify-content: center;
    bottom: 2rem;
}
.navigation-auto div {
    border: 2px solid #111;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: .2s ease;
    margin-left: 4rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #233;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #233;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #233;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #233;
}


/* ICONS  */
.hero-icons-wrapper {
    height: 28vh;
    align-items: center;
    background-color: #f0f0f0;
}

.icons-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 1rem;
    padding: 2rem 0;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    /* height: 6rem;
    width: 6rem; */
}

.icons .icons-svg {
    border-radius: 50%;
    background-color: white;
    width: 6rem;
    height: 6rem;
    color: var(--svg-icons-clr);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons h6 {
    margin-top: 1rem;
    color: var(--svg-icons-clr);
}

.icons .icons-svg:hover {
   background-color: #f433402b;
   transition: .8s;
}

.icons .icons-svg:hover svg {
    color: var(--btn-bg-clr);
    transition: .8s;
}
.icons:hover h6 {
    color: var(--btn-bg-clr);
    transition: .8s;
}


/* CARDS SECTION  */
.cards-section {
    height: 100vh;
    background-color: #efe;
    position: relative;
}

.cards-section-wrapper {
    height: 100%;
    padding-top: 2rem;
}

.filter-btn {
    width: 5rem;
    height: 2.5rem;
    border: none;
    background-color: var(--btn-bg-clr);
    color: #eee;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-btn:hover {
    border: 1px solid var(--btn-bg-clr);
    background-color: transparent;
    color: #233;
}


 /* FILTER SECTION  */
 .form-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.15);
 }

.filter-form {
    gap: .2rem;
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #efe;
    height: 18rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
    position: relative;

    animation-name: form-anim;
    animation-duration: .4s;
}

@keyframes form-anim {
    from {
        top: -50%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

.form-close {
    position: absolute;
    font-size: 1.2rem;
    top: .1rem;
    right: 1rem;
    cursor: pointer;
}
.form-close:hover {
    color: var(--btn-bg-clr);
}

.filter-form button {
    width: 5rem;
    height: 2rem;
    border: none;
    background-color: var(--btn-bg-clr);
    color: #eee;
    border-radius: 5px;
    cursor: pointer;
}

.filter-option-input {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    gap: .2rem;
    width: 100%;
    position: relative;
}

/* FOMR FILTER BUTTONS  */
#select-fltr-optn {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    border: 1.5px solid #777;
    cursor: pointer;
    outline: none;
    padding: 5px;
}
#dateFilter {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    cursor: pointer;
}
#select-fltr-optn:active {
    background-color: #eee;
}
#select-fltr-optn #priceFilter {
    position: absolute;
    bottom: -300%;    
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: none;

    animation-name: price-filter;
    animation-duration: .4s;
}
@keyframes price-filter {
    from {
        top: -50%;
        opacity: 0;
    }
    to {
        bottom: -300%;
        opacity: 1;
    }
}

#select-fltr-optn #ratingFilter {
    position: absolute;
    bottom: -300%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* display: none; */

    animation-name: rate-filter;
    animation-duration: .4s;
}
@keyframes rate-filter {
    from {
        top: -50%;
        opacity: 0;
    }
    to {
        bottom: -300%;
        opacity: 1;
    }
}