* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    /* height: 100vh; */
    /* background-color: #233; */
}

:root {
    --slider-bg-clr: #eee;
    --btn-bg-clr: #f43340;
    --svg-icons-clr: #333;
    --svg-icons-hover-bg: #ec2432;
}

.max-width {
    max-width: 1300px;
    margin: 0 auto;
}


/* NAVBAR  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    height: 8%;
    left: 0;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

nav .logo {
    padding-left: 1rem;
    color: #f44336;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-weight: bolder;
}

nav .nav-links {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}

nav .nav-links a {
    text-decoration: none;
    color: #233;
}

nav .nav-links a:last-child{
    /* background-color: var(--btn-bg-clr); */
    padding: .3rem .8rem;
    border-radius: 10px;
    border: 1px solid var(--btn-bg-clr);
    transition: .5s;
    /* color: #eff; */
}
nav .nav-links a:last-child:hover {
    background-color: var(--svg-icons-hover-bg);
    color: white;
}


/* HERO SECTION  */
.hero-section {
    background-color: var(--slider-bg-clr);
    height: 65vh;
    margin-top: 3.3%;
}

.slider {
    width: 100%;
    height: 100%;
    /* border-radius: 1rem; */
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    border-radius: 0 0 1rem 1rem;
}

.slides {
    width: 500%;
    height: 40rem;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(80%) brightness(80%);
}
#disco-title {
    font-family: 'Dancing Script', cursive;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Mooli', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
}
#disco-title::before {
    content: '\201C'; 
    font-size: 3rem;
}

#disco-title::after {
    content: '\201D'; 
    font-size: 3rem;
}
#party-title {
    font-family: 'Mooli', sans-serif;
    font-family: 'Nunito', sans-serif;
}
#birthday-title {
    font-family: 'Poppins', sans-serif;
}
.img-title {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white; /* Adjust text color */
    font-size: 3rem; /* Adjust font size */
    text-align: center;
    width: 80%; /* Adjust the width if needed */
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s;
    z-index: 50;
    width: 50%;
    text-align: left;
}
#wedding-title {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Nunito', sans-serif;
    font-style:oblique;
    font-size: 2.5rem;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    /* margin-top: -40px; */
    display: flex;
    justify-content: center;
    bottom: 2rem;
}

.manual-btn {
    border: 2px solid #eee;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s ease;
    margin-left: 4rem;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    /* margin-top: -40px; */
    display: flex;
    justify-content: center;
    bottom: 2rem;
}
.navigation-auto div {
    border: 2px solid #111;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: .2s ease;
    margin-left: 4rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #233;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #233;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #233;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #233;
}


/* ICONS  */
.hero-icons-wrapper {
    height: 28vh;
    align-items: center;
    background-color: #f0f0f0;
}

.icons-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 1rem;
    padding: 2rem 0;
    width: 100vw;
    overflow: auto;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.icons .icons-svg {
    border-radius: 50%;
    background-color: white;
    width: 6rem;
    height: 6rem;
    color: var(--svg-icons-clr);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons h6 {
    margin-top: 1rem;
    color: var(--svg-icons-clr);
}

.icons .icons-svg:hover {
   background-color: #f433402b;
   transition: .8s;
}

.icons .icons-svg:hover svg {
    color: var(--btn-bg-clr);
    transition: .8s;
}
.icons:hover h6 {
    color: var(--btn-bg-clr);
    transition: .8s;
}


/* CARDS SECTION  */
.cards-section {
    height: 150vh;
    background-color: #efe;
    position: relative;
}

.cards-section-wrapper {
    height: 100%;
    padding-top: 4rem;
}

.filter-btn {
    width: 5rem;
    height: 2.5rem;
    border: none;
    background-color: var(--btn-bg-clr);
    color: #eee;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-btn:hover {
    border: 1px solid var(--btn-bg-clr);
    background-color: transparent;
    color: #233;
}

.button-area {
    margin-bottom: 3%;
}

 /* FILTER SECTION  */
 .form-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.15);
 }

.filter-form {
    gap: .2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #efe;
    height: 18rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
    position: relative;

    animation-name: form-anim;
    animation-duration: .4s;
}

@keyframes form-anim {
    from {
        top: -50%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

.form-close {
    position: absolute;
    font-size: 1.2rem;
    top: .1rem;
    right: 1rem;
    cursor: pointer;
}
.form-close:hover {
    color: var(--btn-bg-clr);
}

.filter-form button {
    width: 5rem;
    height: 2rem;
    border: none;
    background-color: var(--btn-bg-clr);
    color: #eee;
    border-radius: 5px;
    cursor: pointer;
}

.filter-option-input {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    gap: .2rem;
    width: 100%;
    position: relative;
}

/* FOMR FILTER BUTTONS  */
#select-fltr-optn {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    border: 1.5px solid #777;
    cursor: pointer;
    outline: none;
    padding: 5px;
}
#dateFilter {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    cursor: pointer;
}
#select-fltr-optn:active {
    background-color: #eee;
}
#select-fltr-optn #priceFilter {
    position: absolute;
    bottom: -300%;    
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    cursor: pointer;

    animation-name: price-filter;
    animation-duration: .6s;
}
@keyframes price-filter {
    from {
        top: -50%;
        opacity: 0;
    }
    to {
        bottom: -300%;
        opacity: 1;
    }
}

#select-fltr-optn #ratingFilter {
    position: absolute;
    bottom: -300%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    cursor: pointer;

    animation-name: rate-filter;
    animation-duration: .6s;
}
.hidden {
    display: none;
}
@keyframes rate-filter {
    from {
        top: -50%;
        opacity: 0;
    }
    to {
        bottom: -300%;
        opacity: 1;
    }
}


/* CARDS  */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-gap: 2rem;
    height: 100%;
    width: 100%;
}

.card-container-title {
    margin-bottom: 2%;
}

.eve-card {
    background-color: #eee;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    transition: .5s;
    overflow: hidden;
    cursor: pointer;
}
.eve-card:hover {
    box-shadow: 0px .5px 10px rgba(0, 0, 0, 0.3);
}
.eve-card .eve-card-details {
    padding: 1rem;
}
.card-img-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.card-img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    object-fit: cover/ contain;
}
.eve-card-details .eve-card-title {
    font-size: 1.3rem;
    color: var(--svg-icons-clr);
}
.eve-card-details .eve-card-date {
    font-size: small;
    color: #777;
}
.eve-card-details .eve-card-status {
    font-size: .8rem;
    color: #555;

}

/* LOAD MORE BUTTON  */
#view-more-btn {
    border: 1.5px solid var(--btn-bg-clr);
    padding: .5rem 5rem;
    border-radius: 5px;
    color: var(--btn-bg-clr);
    background-color: transparent;
    transition: .5s;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 2%;
}
#view-more-btn:hover {
    background-color: var(--btn-bg-clr);
    color: var(--slider-bg-clr);
}

.cards-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 1200px) {

    /* FILTER SLIDER  */
    #select-fltr-optn #priceFilter {
        bottom: -150%;    
    }
    @keyframes price-filter {
        from {
            top: -50%;
            opacity: 0;
        }
        to {
            bottom: -150%;
            opacity: 1;
        }
    }
    
    #select-fltr-optn #ratingFilter {
        bottom: -150%;
    }
    @keyframes rate-filter {
        from {
            top: -50%;
            opacity: 0;
        }
        to {
            bottom: -150%;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 900px) {
    .max-width {
        width: 95%;
    }
    .icons-wrapper {
        /* display: fl;
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr)); */
        /* flex-wrap: wrap; */
    }

    /* FILTER FORM  */
    .filter-form {
        height: 25rem;
    }

    /* FILTER SLIDER  */
    #select-fltr-optn #priceFilter {
        bottom: -150%;    
    }
    @keyframes price-filter {
        from {
            top: -50%;
            opacity: 0;
        }
        to {
            bottom: -150%;
            opacity: 1;
        }
    }
    
    #select-fltr-optn #ratingFilter {
        bottom: -150%;
    }
    @keyframes rate-filter {
        from {
            top: -50%;
            opacity: 0;
        }
        to {
            bottom: -150%;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 700px) {
    /* FILTER SLIDER  */
    #select-fltr-optn #priceFilter {
        bottom: -130%;    
    }
    @keyframes price-filter {
        from {
            top: -50%;
            opacity: 0;
        }
        to {
            bottom: -130%;
            opacity: 1;
        }
    }
    
    #select-fltr-optn #ratingFilter {
        bottom: -100%;
    }
    @keyframes rate-filter {
        from {
            top: -50%;
            opacity: 0;
        }
        to {
            bottom: -100%;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 500px) {
    .max-width {
        /* width: 95%; */
    }
    .icons-wrapper {
        /* display: fl;
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr)); */
        /* flex-wrap: wrap; */
    }
    nav .nav-links {
        width: 60%;
        font-size: 70%;
    }
    nav .nav-links a:last-child{
        padding: 1% 1%;
        border-radius: 10px;
        border: 1px solid var(--btn-bg-clr);
        transition: .5s;
    }

    .filter-form {
        height: 30rem;
    }

    /* FILTER SLIDER  */
    #select-fltr-optn #priceFilter {
        bottom: -12  0%;    
    }
    @keyframes price-filter {
        from {
            top: -50%;
            opacity: 0;
        }
        to {
            bottom: -120%;
            opacity: 1;
        }
    }
    
    #select-fltr-optn #ratingFilter {
        bottom: -50%;
    }
    @keyframes rate-filter {
        from {
            top: -50%;
            opacity: 0;
        }
        to {
            bottom: -50%;
            opacity: 1;
        }
    }
}