* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(199, 224, 247);
    padding: 10px;
}

nav img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}