nav#main-menu a.external {
    color: #0000ff;
}
nav#main-menu a.external {
    color: red;
}
nav#main-menu a.external3 {
    color: brown;
}
nav#main-menu a.external4 {
    color: yellowgreen;
}
nav#main-menu a.external5 {
    color: purple;
}