* { 
    margin: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

form {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.8);
}

.login-form-content {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

label i {
    font-size: 25px;
    color: white;
}

input {
    border: none;
    border-radius: 5px;
    width: 200px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.637);
}

button {
    margin: 20px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    font-weight: bold;
}

button:active {
    background-color: rgba(0, 0, 0, 0.98);
    color: white;
    outline: none;
    transform: scale(.98);
}

