* { margin: 0; }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebf4fb;
    height: 100vh;
}

button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(64,64,64,1) 50%, rgba(64,64,64,1) 100%); 
}

button i {
    font-size: 25px;
    padding: 10px;
    border-right: 1px solid rgba(128, 128, 128, 0.8);
}

button span {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

button:active {
    transform: translateY(2px);
}
