* {
    margin: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    font-family: 'Dancing Script', cursive;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Mooli', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

header {
    /* background: rgb(165,178,88);
    background: linear-gradient(0deg, rgba(165,178,88,1) 0%, rgba(195,202,142,1) 50%, rgba(165,178,88,1) 100%);  */
    /* background: rgb(165,178,88);
    background: linear-gradient(0deg, rgba(165,178,88,1) 0%, rgba(195,202,142,1) 38%, rgba(165,178,88,1) 100%);  */
    /* background: rgb(165,178,88);
    background: linear-gradient(0deg, rgba(165,178,88,1) 0%, rgba(211,217,173,1) 51%, rgba(165,178,88,1) 93%);  */
    /* background: rgb(165,178,88);
    background: linear-gradient(0deg, rgba(165,178,88,1) 0%, rgba(211,217,173,1) 45%, rgba(165,178,88,1) 86%);  */
    background: rgb(165,178,88);
    background: linear-gradient(0deg, rgba(165,178,88,1) 0%, rgba(211,217,173,1) 45%, rgba(165,178,88,1) 88%); 
    height: 92.45vh;
}

/* commom centering lines */
.max-width {
    margin: 0 auto;
    width: 90vw;
}

/* navbar */
nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 0px;  
}

/* navbar logo  */
nav .logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* nav img  */
nav .logo img {
    width: 50px;
    height: 50px;
    color: #a5b258;
}

.nav-links {
    margin-left: 100px;
}

/* nav-links anchor tag */
.nav-links a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

/* cart-login */
.cart-login {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-login i {
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
}


/* header body section  */
.header-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* header left section  */
.header-left {
    flex: 1;
}
.header-left h1 {
    font-size: 50px;
}
.header-left p {
    left: 0;
    top: 100px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-left button {
    width: 170px;
    height: 50px;
    font-size: 20px;
    border: none;
    background: #131313;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}
.header-left button:hover {
    background-color: #131313ea;
}
.header-left button:active {
    transform: scale(.98);
}

/* header right secton  */
.header-right {
    flex: 1;
}
.header-img-container {
    width: 100%;
    height: 550px;
    overflow: hidden;
}

/* article sectoin  */
article {
    height: 50vh;
}

/* article wrapper  */
.article-wrapper {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px; 
    margin-top: 10px;
}

/* box  */
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 10px;
    border-radius: 15px 0 15px 0;
    height: 100%;
    margin-top: 20px;
}

/* box */
.box-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}
.box-logo img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* height: auto; */
}
.box h3 {
    text-align: center;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 17px;
}
.box p {
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 18px;
    padding: 10px;
    color:#131313a8;
}

/* main  */
main {
    height: 150vh;
    background-color: #a5b258;
}

.main-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.main-wrapper h2 {
    margin-top: 80px;
    margin-bottom: 80px;
    color: white;
}

/* products row one  */
.row-one {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}
/* products row two  */
.row-two {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

/* product box  */
.product-box {
    background-color: white;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
}
/* product box img  */
.product-box .product-img {
    width: 100%;
    height: auto;
}
/* review-stars */
.product-box .review-stars {
    width: 70%;
    height: auto;
}
/* divider */
.divider {
    height: 1px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.5);
}
/* price & add2cart section */
.price-add2cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}
.price-add2cart button {
    border: none;
    background-color: #4d4d4d;
    color: white;
    font-size: 10px;
    width: 80px;
    padding: 5px 0px;
    border-radius: 5px;
    cursor: pointer;
}
.price-add2cart button:hover {
    background-color: #131313ea;
}
.price-add2cart button:active {
    transform: scale(.98);
}

/* main section button  */
.main-section-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 170px;
    height: 50px;
    font-size: 20px;
    border: none;
    background: #131313;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}
.main-section-btn:hover {
    background-color: #131313ea;
}
.main-section-btn:active {
    transform: scale(.98);
}

/* subscription box  */
section {
    height: 50vh;
    background-color: #d5df9a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-wrapper h2 {
    width: 80%;
    text-align: center;
}
.subscribe-section {
    margin-top: 10px;
}
.subscribe-section input {
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
}
.subscribe-section button {
    height: 30px;
    border: none;
    background-color: #131313;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.subscribe-section button:hover {
    background-color: #131313ea;
}
.subscribe-section button:active {
    transform: scale(.98);
}
.section-wrapper .top {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.7);
}
.section-wrapper .bottom {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
    width: 30%;
    text-align: center;
    margin-top: 10px;
}
.section-wrapper a {
    color: #131313;
    text-decoration: none;
}

/* footer  */
footer {
    height: 50vh;
    background-color: #c2d06f;
}
.footer-wrapper {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: space-around;
}
.footer-wrapper .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.eco-friendly {
    width: 30%;
}
.footer-header {
    margin-bottom: 20px;
    color: #353633;
}
.eco-friendly p {
    font-size: 13px;
}
.links p {
    font-size: 13px;
}
.contact p {
    font-size: 13px;
}
.social-media i {
    background-color: black;
    color: #a5b258;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.bottom p {
    margin-top: 20px;
    font-size: 8px;
}
.bottom .divider {
    height: 1px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.5);
} 


/* TABLET RESPONSIVE  */
@media screen and (max-width: 800px) {

    /* header body  */
    .header-body {
        margin-top: 5rem;
    }
    .header-right {
        position: absolute;
        right: 3rem;
        top: 10rem;
    }
    .header-left {
        z-index: 9;
    }
    /* header right section  */
    .header-img-container {
        width: 40rem;
        height: 30rem;
        overflow: hidden;
        position: relative;
        filter: blur(10px);
    }
    .header-img-container img {
        position: absolute;
        width: 100%;
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    /* article  */
    article {
        height: 50vh;
    }
    /* article wrapper  */
    .article-wrapper {
        gap: 20px;
    }
    /* box  */
    .box {
        height: 290px;
        width: 100%;
        margin-top: 30px;
    }
    .box h3 {
       font-size: 13px;
       margin: 0;
    }
    .box p {
        font-size: 10px;
        line-height: 15px;
        margin: 0;
    }
    

    /* main section  */
    main {
        height: 255vh;
    }

    /* products row one  */
    .row-one {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    /* products row two  */
    .row-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    /* product box  */
    .price-add2cart {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }
    .price-add2cart button {
        width: 11.3rem;
        height: 2rem;
        font-size: 1rem;
    }
}


/* MOBILE RESPONSIVE */
@media screen and (max-width: 500px) {

    header {
        height: 100vh;
        overflow: hidden;
    }
  
    nav .logo {
        justify-content: flex-start;
    }
    nav .logo img {
        width: 10%;
        height: auto;
    }
    nav .logo h2 {
        font-size: 15px;
    }
    .nav-links {
        display: none;
    }
    .nav-links a {
        margin: 0 2px 0 2px;
        font-size: 8px;
        width: 40px;
    }

    /* cart-login */
    .cart-login {
        display: none;
    }

    .header-left {
        position: absolute;
        top: 150px;
        z-index: 9;
        width: 90vw;
        margin: 0 auto;
    }
    .header-left button {
        width: 170px;
        height: 50px;
        font-size: 20px;
        border-radius: 5px;
        margin-top: 15px;
        margin-bottom: 76px;
        cursor: pointer;
    }

    /* header left section  */
    .header-left h1 {
        font-size: 45px;
        font-weight: 700;
    }
    .header-left p {
        font-size: 15px;
        margin-top: 20px;
        color: #131313;
    }
    .header-left button {
        width: 150px;
        height: 40px;
        font-size: 17px;
        margin-top: 100px;
    }

    /* article wrapper  */
    article {
        height: 180vh;
    }
    .article-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px; 
        margin-top: 50px;
        margin-left: 50px;
    }
    /* box  */
    .box {
        margin-top: 20px;
        padding: 10px;
        width: 80%;
    }

    /* box */
    .box-logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin-top: 10px;
    }
    .box h3 {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 15px;
    }
    .box p {
        text-align: center;
        margin-bottom: 10px;
        font-size: 10px;
        line-height: 18px;
        padding: 10px;
    }

    /* main  */
    main {
        height: 400vh;
        background-color: #a5b258;
    }
    .main-wrapper { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .main-wrapper h2 {
        margin-top: 40px;
        margin-bottom: 40px;
        color: white;
    }

    /* products row one  */
    .row-one {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    /* products row two  */
    .row-two {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    /* product box  */
    .price-add2cart {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }
    .price-add2cart button {
        width: 11.3rem;
        height: 2rem;
        font-size: 1rem;
    }

    /* product box  */
    .product-box {
        height: 320px;
        width: 230px;
        border-radius: 5px;
        padding: 10px;
    }
    .product-name h3 {
        font-size: 15px;
    }
    .product-name p {
        font-size: 12px;
    }
    /* price & add2cart section */
    .price-add2cart {
        gap: 10px;
    }
    .price-add2cart h3 {
        font-size: 15px;
    }
    .price-add2cart button {
        border: none;
        background-color: #4d4d4d;
        color: white;
        font-size: 1rem;
        width: 13rem;
        height: 2.5rem;
        padding: 5px 0px;
        border-radius: 5px;
        cursor: pointer;
    }

    /* main section button  */
    .main-section-btn {
        width: 200px;
        height: 50px;
        font-size: 18px;
    }

    /* subscription box  */
    .section-wrapper {
        margin-top: 50px;
        display: flex;
        gap: 8px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section-wrapper h2 {
        font-size: 18px;
    }
    .subscribe-section input {
        border: none;
        width: 200px;
        height: 30px;
        border-radius: 5px;
        padding-left: 10px;
    }
    .section-wrapper .top {
        text-align: center;
        font-size: 13px;
        width: 80%;
    }
    .section-wrapper .bottom {
        width: 80%;
    }

    /* footer  */
    .footer-wrapper .top {
        gap: 20px;
    }
    .eco-friendly {
        width: 30%;
    }
    .footer-header {
        font-size: 12px;
    }
    .eco-friendly p {
        font-size: 8px;
    }
    .links p {
        font-size: 8px;
    }
    .contact p {
        font-size: 8px;
    }
    .social-media i {
        margin: 2px;
        font-size: 8px;
    }

    .bottom p {
        margin-top: 10px;
    }


    /* DISPLAYING THE ICONS IN MEDIA */
    .check-box {
        display: block;
    }

    label #btn, label #cancel {
        position: absolute;
        cursor: pointer;
        border-radius: 5px;
        z-index: 20;
    }

    label #btn {
        right: 12px;
        top: 8px;
        font-size: 30px;
        color: rgb(0, 0, 0);
        height: 50px;
        margin-top: 10px;
    }

    label #cancel {
        left: 155px;
        top: 15px;
        font-size: 40px;
        color: rgb(0, 0, 0);
        height: 50px;
    }

    #check:not(:checked) ~ label #btn {
        display: none;
    }

    #check:checked ~ .navbar {
        display: none;
    }

    #check:checked ~ label #cancel {
        pointer-events: none;
        display: none;
    }
}